/node_modules
/public/hot
/public/storage
/storage/framework/views/*
/storage/framework/sessions/*
/storage/framework/cache/*
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.vscode
artisan
bootstrap/cache/*
.ftpquota
.well-known/
public/error_log
storage/logs/*
.DS_Store
